@import url("https://fonts.googleapis.com/css2?family=Federant&family=Indie+Flower&family=Titan+One&display=swap");

$titan: "Titan One", cursive;
$fedora: "Federant", cursive;
$flower: "Indie Flower", Helvetica, Arial, sans-serif;

$white: #f1f5f9;
$black: #111;
$cyan: #006999;
